<h3>Mes ressources</h3>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                Nom
                <a ng-click="sortBy='lastName'" class="glyphicon glyphicon-chevron-down"></a>
                <a ng-click="sortBy='-lastName'" class="glyphicon glyphicon-chevron-up"></a>
            </th>
            <th>
                Prénom
                <a ng-click="sortBy='firstName'" class="glyphicon glyphicon-chevron-down"></a>
                <a ng-click="sortBy='-firstName'" class="glyphicon glyphicon-chevron-up"></a>
            </th>
            <th>
                Groupe
                <a ng-click="sortBy='group'" class="glyphicon glyphicon-chevron-down"></a>
                <a ng-click="sortBy='-group'" class="glyphicon glyphicon-chevron-up"></a>
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="resource in resources | orderBy: sortBy">
            <td>{{resource.lastName}}</td>
            <td>{{resource.firstName}}</td>
            <td>{{resource.group}}</td>
            <td>
                <a class="btn btn-primary" ng-href="#/my-resources/resource/{{resource.id}}">Modifier</a>
                <a class="btn btn-danger" ng-click="deleteResource(resource.id, $index)">Supprimer</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="pull-right">
    <a ng-href="#/my-resources/resource" class="btn btn-success">Ajouter une resource</a>
</div>
